<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <title>dearlk</title>
    <style>
    body {
    font: 20px "Montserrat", sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}

p {font-size: 16px;}
.margin {margin-bottom: 45px;}
      .bg-1 {
       background-color: #1abc9c; /* Green */
        color: #ffffff;
      }
      .bg-2 {
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
      }
      .bg-3 {
      background-color: #ffffff; /* White */
      color: #555555;
      }
      .container-fluid {
        padding-top: 70px;
        padding-bottom: 70px;
      }
      .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.bg-4 {
    background-color: #2f2f2f;
    color: #ffffff;
}
.navbar-nav li a:hover {
    color: #ff0000 !important;
}
.navbar-nav a {
    color: white !important;
}
.navbar-brand { color:white;}
    </style>
  </head>
 
<body>
	
	
	<div class="container">

		<!--signin-form-->
		<div class="w3">
			<div class="signin-form profile">
				<h3>Login</h3>
				
				<div class="login-form">
					<form action="/" method="post">
						<input type="text" name="logemail" placeholder="E-mail" required="">
						<input type="password" name="logpassword" placeholder="Password" required="">
						<div class="tp">
							<input type="submit" value="LOGIN NOW">
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="agile">
			<div class="signin-form profile">
				<h3>Register</h3>
				
				<div class="login-form">
					<form action="/" method="post">
						<input type="text" name="email" placeholder="E-mail" required="">
						<input type="text" name="username" placeholder="Username" required="">
						<input type="password" name="password" placeholder="Password" required="">
						<input type="password" name="passwordConf" placeholder="Confirm Password" required="">
						<input type="submit" value="REGISTER">
					</form>
				</div>
				<p><a href="#"> By clicking register, I agree to your terms</a></p>
			</div>
		</div>

		<div class="clear"></div>
		<!--//signin-form-->	
	
		<div class="copyright">
			<p> &copy; 2016 Register Login Widget . All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank" >W3layouts</a></p>
		</div>
		
	</div>					
</body>
</html>